<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar_sign_in.html' %}

    <body>
        <div class="container">

        </div>
    </body>
    {% include 'footer.html' %}
</html>
