<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <ul>
                {% for user in user_search_results %}
                    <li>{{ user.getUsername }}</li>
                    <ul>
                        <li>First Name: {{ user.getFirstName }}</li>
                        <li>Last Name: {{ user.getLastName }}</li>
                        <li>{{ user.getSeekingGendersNames }}</li>
                    </ul>

                {% endfor %}
            </ul>
        </div>

    </body>
    <div class="transparency">
    </div>
</html>
