<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <h3>Welcome to String Checker! Enter in a word and a phrase to see how many times it appears in the phrase.</h3>
      <form action="/answer" method="post">
        <div class="form-group">
          <label for="word">Enter in Word</label>
          <input id="word" name="word" type="text" class="form-select">
        </div>

        <div class="form-group">
          <label for="phrase">Enter in Phrase</label>
          <input id="phrase" name="phrase" type="text" class="form-select">
        </div>
        <button class="btn btn-primary" type="submit">Go!</button>
      </form>
      <p>You entered in the word: {{ word }}</p>
      <p>You entered in the phrase: {{ phrase }}</p>
      <p>Matches: {{ result }}</p>

    </div>
  </body>
</html>
