<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar.html' %}
    <body>
        <div class="container">
            <?php echo 'hello'; ?>
            <h1 class="text-center">Welcome To Poly Date</h1>

            <form action="/users_basic_search">
                <label for="my_identity">I am/We Are</label>
                <select id="my_identity" name="my_identity">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="mm">Male-Male</option>
                    <option value="female">Female-Female</option>
                    <option value="mf">Male-Female</option>
                </select>
                <label for="city_id">City</label>
                <select id = "city_id" name="city_id">
                    {% for city in all_cities %}
                        <option value="{{ city.getId }}">{{ city.getName}}, {{city.getState}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
