<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar_sign_in.html' %}
    <body>
        <div class="container">
            <?php echo 'hello'; ?>
            <h1 class="text-center">Welcome To Poly Date</h1>

            <form action="/basic_search">
                <!-- <label>Search For Your Partner</label>
                <input -->
            </form>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
