<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar_sign_in.html' %}
    <body>
        <div class="container">
            <?php echo 'hello'; ?>
            <h5>Welcome To Poly Date</h5>

        </div>
    </body>
    {% include 'footer.html' %}
</html>
