<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar_sign_in.html' %}


    <body>
        <div class="container">
            <h5>Create A Profile</h5>

            <form action="/register_new_user" method="post">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="identity">Identity</label>
                    <input id="identity" name="identity" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <input id="status" name="status" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="kink_friendly">Kink Friendly</label>
                    <select name="kink_friendly" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input id="birthday" name="birthday" type="date" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="display_name">Display Name</label>
                    <input id="display_name" name="display_name" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="about_me">About Me</label>
                    <input id="about_me" name="about_me" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="interests">Interests</label>
                    <input id="interests" name="interests" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="seeking_gender">Seeking Gender</label>
                    <input id="seeking_gender" name="seeking_gender" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="seeking_relationship_type">Seeking Relationship Type</label>
                    <input id="seeking_relationship_type" name="seeking_relationship_type" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="city_id">City Id</label>
                    <input id="city_id" name="city_id" type="text" class="form-select" required>
                </div>

                <div class="form-group">
                    <label for="zip_code_id">Zip Code Id</label>
                    <input id="zip_code_id" name="zip_code_id" type="text" class="form-select" required>
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
