<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h5>Create A Profile</h5>

            <form action="/register_new_user" action="post" class="form-inline">
            </form>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
